/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

h1 {
  font-family: sans-serif;
  font-size: 47px;
  font-weight: 700;
  color: white;
}

h2 {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 300;
}

p {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
}

li {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
}